{
  "presets": [
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "latest",
        "stage-1",
        "react-hmre"
      ]
    },
    "production": {
      "presets": [
        ["latest", {
          "es2015": {
            "modules": false
          }
        }],
        "stage-1"
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "presets": [
        "latest",
        "stage-1"
      ]
    }
  }
}

