{
    "extends": "ieremeev",
    "rules": {
        "import/no-unresolved": ["error", { "ignore": ["^utils", "^selectors", "^reducers", "^components", "^containers", "^store"] }],
        "import/first": ["off"],
        "import/extensions": ["off"],
        "import/no-extraneous-dependencies": ["off"],
        "react/prefer-stateless-function": ["off"],
        "func-names": ["off"],
        "react/jsx-indent": ["off"],
        "react/jsx-indent-props": ["off"],
        "react/jsx-closing-bracket-location": ["off"],
        "space-before-function-paren": ["error", "never"],
        "jsx-a11y/label-has-for": ["off"],
        "no-unused-expressions": ["off"],
        "class-methods-use-this": ["off"],
        "no-restricted-syntax": ["off"],
        "no-console": ["error", { allow: ["info", "warn", "error"] }]
    }
}
