{
    "extends": "ieremeev",
    "rules": {
        "import/no-unresolved": ["error", { ignore: ["^components", "^containers"] }],
        "import/extensions": ["off"],
        "import/no-extraneous-dependencies": ["off"]
    }
}
