# mp3gain
http://ftp.tu-chemnitz.de/pub/linux/dag/redhat/el6/en/x86_64/rpmforge/RPMS/mp3gain-1.4.4-1.2.el6.rf.x86_64.rpm
#http://li.nux.ro/download/nux/dextop/el7/x86_64//mp3gain-1.5.2-5.el7.nux.x86_64.rpm

# mediainfo
http://dl.fedoraproject.org/pub/epel/6/x86_64//mediainfo-0.7.94-1.el6.x86_64.rpm

# lame
http://pkgrepo.linuxtech.net/el6/release/x86_64/libmp3lame-3.98.4-4.el6.x86_64.rpm
http://mirror.centos.org/centos/6/os/x86_64/Packages/libsndfile-1.0.20-5.el6.x86_64.rpm
http://pkgrepo.linuxtech.net/el6/release/x86_64/lame-3.98.4-4.el6.x86_64.rpm
