.wrapper {
    width: 100%;
}
.counter {
    margin-bottom: .8em;
    text-align: center;
}
.text {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333;
    line-height: 32px;
}
.translate {
    margin-top: 10px;
    color: #999;
}
.input {
    composes: text;
    width: 100%;
    margin: 0;
    outline: none;
    padding: 8px 12px;
    border: 1px solid #85B7D9;
    border-radius: 4px;
    background: #FFFFFF;
    resize: none;

    &.positive {
        background-color: #fcfff5;
        border-color: #a3c293;
    }
    &.negative {
        background-color: #fff6f6;
        border-color: #e0b4b4;
    }
}
.resultBlock {
    padding: 6px 13px;
}
.buttonWrapper {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
}
