.grid {
    width: 100%;
    display: flex;

    .tree {
        width: 200px;
        margin-right: 1em;
    }
    .body {
        flex-grow: 1;
    }
}
.item {
    padding: 0.3em 0.5em;
    border: 1px solid #c9caca;
    border-radius: 5px;
    background-color: #f8f8f9;
    color: #666;

    &.active {
        color: #22566c;
        border: 2px solid #a9d5de;
        background-color: #f8ffff;
        font-weight: bold;
    }
}
.addArea {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    align-items: center;

    > * {
        margin-right: 0.3em;

        &:last-child {
            margin-right: 0;
        }
    }
}
