$markSize: 0.7em;

.grid {
    width: 100%;
    display: flex;

    .tree {
        width: 200px;
        margin-right: 1em;
    }
    .body {
        flex-grow: 1;
    }
}
.item {
    padding: 0.3em 0.5em;
    border: 1px solid #c9caca;
    border-radius: 5px;
    background-color: #f8f8f9;
    color: #666;
    position: relative;

    &.active {
        color: #22566c;
        border: 2px solid #a9d5de;
        background-color: #f8ffff;
        font-weight: bold;
    }
    .mark {
        z-index: 201;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $markSize $markSize 0 0;

        &.dirty {
            border-color: #f0ad4e transparent transparent transparent;
        }
        &.new {
            border-color: #30bd33 transparent transparent transparent;
        }
    }
}

.addArea {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    align-items: center;

    > * {
        margin-right: 0.3em;

        &:last-child {
            margin-right: 0;
        }
    }
}
