$markSize: 0.7em;

.grid {
    width: 100%;
    display: flex;

    .tree {
        width: 220px;
        margin-right: 1em;
    }
    .body {
        flex-grow: 1;
    }
}
.item {
    position: relative;
    padding: 0.3em 0.5em;
    border: 1px solid #c9caca;
    border-radius: 5px;
    background-color: #f8f8f9;
    color: #666;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &.active {
        color: #22566c;
        border-color: #a9d5de;
        background-color: #f8ffff;
        font-weight: bold;
    }
    .mark {
        z-index: 201;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $markSize $markSize 0 0;

        &.dirty {
            border-color: #f0ad4e transparent transparent transparent;
        }
        &.new {
            border-color: #30bd33 transparent transparent transparent;
        }
    }
    .actions {
        position: absolute;
        right: 4px;
        top: -9999px;
        background-color: #fff;
        font-size: 0.8em;
        height: 100%;
        align-items: center;
        opacity: 0;
        display: flex;
        transition: opacity 0.2s ease-in;
    }
    &:hover {
        .actions {
            opacity: 0.7;
            top: 0;
        }
    }
}
.topArea {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
}
.elementArea {
    display: flex;

    > * {
        margin-right: 0.3em;
    }
}
